@using NewsMVP.MOdels
<div class="social-links">
    <a href="#" class="social-link"><i class="fab fa-telegram"></i></a>
    <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
    <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
    <a href="#" class="social-link"><i class="fab fa-youtube"></i></a>
</div>